html {
  font-family: sans-serif;
  font-size: 1.2em;
  color: #eee;
  background: #202226;
}

body {
  margin: 0;
}

main {
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  /*border: 1px solid #ddd;*/
  padding: 15px;
  box-sizing: border-box;
}

:focus {outline:none !important;}
::-moz-focus-inner {border:0 !important;}
input[type=range]::-moz-focus-outer {
  border: 0;
}

.bpm-readout {
  font-size: 3em;
}

.bpm-label {
  font-size: 1.3em;
  /*margin-bottom: 20px;*/
  color: #7a7a7a;
}

.i-bpm {
  width: 100%;
  margin: 0;
}

.container-blink {
  position: relative;
  height: 190px;
  margin: 20px 0 30px;
}

.btn-start-stop {
  position: relative;
  margin: 0 auto;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: #585c63;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-shadow: 0 2px 8px rgba(0,0,0,0.5);
}

.btn-start-stop:active {
  transform: scale(0.97,0.97);
}

.btn-start-stop:focus {
  outline-color: transparent;
  outline-style: none;
  background: #bbb;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.blink {
  transition: all 0.05s;
}

.blink.flash-01 {
  background: #F073AB;
  transform: scale(1.1,1.1);
}

.blink.flash {
  background: #8FDBA2;
  transform: scale(1.1,1.1);
}

.blink-inner {
  position: absolute;
  right: 0; left: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50%;
  background: #585c63;
}

.blink-inner-readout {
  position: absolute;
  right: 0; left: 0;
  top: 50%;
  transform: translateY(-50%);
}

/*meter btns*/

.container-meter-btns {
  display: flex;
  list-style: none;
  height: 40px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 0.5em;
  margin-bottom: 25px;
}

.container-meter-btns li {
  flex: 0;
  background: #373b42;
  border-radius: 4px;
  padding: 7px 13px;
  box-sizing: border-box;
  cursor: pointer;
}

.container-meter-btns li.sel {
  background: #586b72;
  color: #fff;
  box-shadow: 0 1px 4px rgba(0,0,0,0.8);
  transform: scale(1.2,1.2);
}

.mb-t {
  display: block;
  border-bottom: 1px solid #6b6b6b;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.mb-b {
  display: block;
}

.container-meter-btns li.sel .mb-t {
 border-bottom: 1px solid #929292; 
}


/*beat meter*/


.container-beat-meter {
  display: flex;
  height: 20px;
}

.container-beat-meter .meter-block {
  flex: 1;
}

.meter-block {
  background: #17181B;
  margin: 0 3px;
  transition: all 0.25s;
  height: 90%;
  margin-top: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.meter-block.flash {
  background: #4d535d;
  height: 10%;
}

.meter-block:first-child {
  margin-left: 0;
}

.meter-block:last-child {
  margin-right: 0;
}

/***********/
/*SLIDER*/
/**********/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #17181b;
  border-radius: 14.9px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.7px 2.7px 4.7px rgba(0, 0, 0, 0.19), 0px 0px 2.7px rgba(13, 13, 13, 0.19);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #586b72;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d9dee6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #17181b;
  border-radius: 14.9px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.7px 2.7px 4.7px rgba(0, 0, 0, 0.19), 0px 0px 2.7px rgba(13, 13, 13, 0.19);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #586b72;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bbc2d2;
  border: 0px solid #010101;
  border-radius: 29.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #17181b;
  border: 0px solid #010101;
  border-radius: 29.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 2.7px 2.7px 4.7px rgba(0, 0, 0, 0.19), 0px 0px 2.7px rgba(13, 13, 13, 0.19);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #586b72;
  cursor: pointer;
  height: 21.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #17181b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d9dee6;
}

/**/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #17181b;
  border-radius: 14.9px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 2.7px 2.7px 4.7px rgba(0, 0, 0, 0.19), 0px 0px 2.7px rgba(13, 13, 13, 0.19);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #586b72;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d9dee6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #17181b;
  border-radius: 14.9px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 2.7px 2.7px 4.7px rgba(0, 0, 0, 0.19), 0px 0px 2.7px rgba(13, 13, 13, 0.19);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #586b72;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bbc2d2;
  border: 0px solid #010101;
  border-radius: 29.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #17181b;
  border: 0px solid #010101;
  border-radius: 29.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 2.7px 2.7px 4.7px rgba(0, 0, 0, 0.19), 0px 0px 2.7px rgba(13, 13, 13, 0.19);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #586b72;
  cursor: pointer;
  height: 21.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #17181b;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d9dee6;
}
