html {
  font-family: sans-serif;
  font-size: 1.2em;
  color: #eee;
  background: #111214;
  height: 100%;
}

body {
  margin: 0;
}

.bg-01 {
  background: url('./img/plaster-01.jpg');
  position: absolute;
  right: 0; left: 0;
  top: 0; bottom: 0;
  opacity: 0.04;
  background-size: 70%;
  pointer-events: none;
}

main {
  position: relative;
  max-width: 500px;
  text-align: center;
  margin: 0 auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
  border-radius: 8px;
  box-sizing: border-box;
  overflow: hidden;

  position: fixed;
  top: 40%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  margin: 0 auto;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2d33+0,202226+100 */
  background: #2b2d33; /* Old browsers */
  background: -moz-linear-gradient(top,  #2b2d33 0%, #202226 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top,  #2b2d33 0%,#202226 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  #2b2d33 0%,#202226 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2b2d33', endColorstr='#202226',GradientType=0 ); /* IE6-9 */

}

:focus {outline:none !important;}
::-moz-focus-inner {border:0 !important;}
input[type=range]::-moz-focus-outer {
  border: 0;
}

.row {
  padding: 15px;
  overflow: hidden;
}

.row-slider {
  background: rgba(0,0,0,0.23);
}

.row-bpm {
  padding: 25px 15px;
  box-shadow: 0 2px 4px rgba(3,14,28,0.4);
}

.row-bpm-inner {
  display: flex;
  justify-content: space-around;
}

.row-meter {
  background: rgba(0, 0, 0, 0.1);
}

.bar-flare {
  background: rgba(255,255,255,0.2);
  box-shadow: 0 0 10px rgba(255,255,255,0.3);
  width: 200%;
  transform: rotate(30deg);
  position: absolute;
  margin: 0 auto;
  opacity: 0.06;
  pointer-events: none;
}

.bar-flare-01 {
  top: 50%;
  height: 20px;
}

.bar-flare-02 {
  top: 50%;
  margin-top: 30px;
  height: 7px;
}

.bar-flare-03 {
  top: 20%;
  height: 100px;
}

.bar-flare-04 {
  bottom: -5%;
  height: 50px;
}

.bar-flare-05 {
  bottom: -9%;
  height: 5px;
}

.bpm-play-pause {
  font-size: 3em;
  line-height: 1;
  /*font-family: monospace;*/
  font-weight: 700;
  min-width: 130px;
  text-shadow: -1px 2px 4px rgba(0,0,0,0.3);
}

.bpm-label {
  font-size: 1.2em;
  /*margin-bottom: 20px;*/
  color: #53555d;
  font-family: 'Bree Serif', Times, serif;
  letter-spacing: 4px;
  text-transform: uppercase;
}

/*range slider*/

.bpm-slider {
  width: 100%;
  margin: 0;
}

.range-nos {
  display: flex;
  justify-content: space-between;
  list-style: none;
  font-size: 0.6em;
  padding: 0;
  color: rgba(255,255,255,0.7);
  align-items: center;
  margin: 5px -5px 5px;
  font-family: 'Quicksand', sans-serif;
}

.range-nos li {
  flex: 1;
  position: relative;
  padding: 4px 0;
  cursor: pointer;
  margin-top: 3px;
  text-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  font-weight: 700;
}

.range-nos li:hover {
  background: rgba(0,0,0,0.3);
}

.range-nos.range-lines {
  margin-top: 6px;
  margin-bottom: 0;
  height: 8px;
}

.range-nos.range-lines li {
  color: rgba(0,0,0,0.6);
  cursor: auto;
  background: none;
  font-weight: 300;
  text-shadow: none;
}

.container-blink {
  position: relative;
  height: 202px;
  margin: 0;
  width: 200px;
  border-radius: 50%;
  background: #222324;
  /*border: 1px solid #3b3b3b;*/
  box-shadow: 0 1px 14px rgba(255,255,255,0.1);
}

/*tap and play/pause*/

.container-tap-bpm {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.container-tap {
  margin: 0 auto;
}

.btn-tap {
  width: 100px;
  height: 80px;
  background: rgba(0,0,0,0.2);
  border: 2px solid rgba(255,255,255,0.07);
  position: relative;
  cursor: pointer;
  border-radius: 8px;
  color: rgba(255,255,255,0.7);
  letter-spacing: 5px;
  box-shadow: inset 0 0px 15px rgba(0,0,0,0.3);
  box-sizing: border-box;
}

.btn-tap:hover {
  background: rgba(0,0,0,0.27);
}

.btn-tap:active {
  background: rgba(0,0,0,0.35);
  color: #aaa;
  border: 1px solid rgba(255,255,255,0.12);
}

.btn-tap .tap-text {
  font-family: 'Bree Serif', Times, serif;
  position: absolute;
  right: 0; left: 0;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.3em;
}

.btn-play-pause {
  position: absolute;
  margin: 0 auto;
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background: #585c63;
  cursor: pointer;
  -webkit-appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  box-shadow: 4px 4px 18px rgba(0,0,0,0.35);
  border-bottom: 1px solid #535353;
  border-top: 1px solid #6c6c6c;
  overflow: hidden;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#575b62+0,46484f+100 */
background: #575b62; /* Old browsers */
background: -moz-linear-gradient(top,  #575b62 0%, #46484f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #575b62 0%,#46484f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #575b62 0%,#46484f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#575b62', endColorstr='#46484f',GradientType=0 ); /* IE6-9 */

}

.btn-play-pause-pattern {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: url('./img/pattern-star-01.png');
  background-size: cover;
  opacity: 0.1;
}

.btn-play-pause:active {
  transform: translateY(-50%) scale(0.99,0.99);
}

/*.btn-play-pause:active .blink-inner {
  transform: translateY(-50%) scale(1.02,1.02);
}*/

.btn-play-pause:focus {
  outline-color: transparent;
  outline-style: none;
  background: #bbb;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.blink {
  transition: background 0.08s;
}

/*(note) add coloured shadows to this effect*/
.blink.flash-01 {
  background: #F073AB;
  box-shadow: 0 1px 10px rgba(240,115,171,0.5);
  transform: translateY(-50%) scale(1.03,1.03);
}

.blink.flash {
  background: #8FDBA2;
  box-shadow: 0 1px 10px rgba(143,219,162,0.5);
  transform: translateY(-50%) scale(1.03,1.03);
}

.blink-inner {
  position: absolute;
  right: 0; left: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  width: 160px;
  height: 160px;
  margin: 0 auto;
  border-radius: 50%;
  background: #5d6169;
  box-shadow: inset 0 0 29px rgba(255,255,255,0.03);
  overflow: hidden;
  border-top: 2px solid #505050;
  border-bottom: 2px solid #777;
  box-sizing: border-box;

  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#5d6169+0,707175+100 */
background: #5d6169; /* Old browsers */
background: -moz-linear-gradient(top,  #5d6169 0%, #707175 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #5d6169 0%,#707175 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #5d6169 0%,#707175 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d6169', endColorstr='#707175',GradientType=0 ); /* IE6-9 */

}

.play-pause-icons {
  position: absolute;
  right: 0; left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  margin: 0 auto;
}

.icon-pause {
  display: none;
  opacity: 0.6;
}

.icon-play {
  opacity: 0.3;
}

.btn-metal {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background: url('./img/metal-01.jpg');
  opacity: 0.06;
  background-size: cover;
  transform: rotate(125deg);
}

/*meter btns*/

.container-meter-btns {
  font-family: 'Quicksand', sans-serif;
  display: flex;
  list-style: none;
  height: 40px;
  padding: 0;
  justify-content: space-between;
  align-items: center;
  font-size: 0.5em;
  margin-bottom: 25px;
}

.container-meter-btns li {
  flex: 0;
  background: #373b42;
  border-radius: 4px;
  padding: 7px 13px;
  box-sizing: border-box;
  cursor: pointer;
}

.container-meter-btns li.sel {
  background: #a15fb6;
  color: rgba(255,255,255,0.9);
  font-weight: 700;
  /*box-shadow: 0 1px 4px rgba(3,14,28,0.7);*/
  box-shadow: 0 1px 7px rgba(161,95,182,0.6);
  transform: scale(1.2,1.2);
}

.mb-t {
  display: block;
  border-bottom: 1px solid #6b6b6b;
  padding-bottom: 2px;
  margin-bottom: 2px;
}

.mb-b {
  display: block;
}

.container-meter-btns li.sel .mb-t {
 border-bottom: 1px solid rgba(0,0,0,0.3); 
}


/*beat meter*/


.container-beat-meter {
  display: flex;
  height: 20px;
}

.container-beat-meter .meter-block {
  flex: 1;
}

.meter-block {
  background: #151618;
  margin: 0 3px;
  transition: all 0.25s;
  height: 90%;
  margin-top: auto;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.meter-block.flash {
  background: #4d535d;
  height: 10%;
}

.meter-block:first-child {
  margin-left: 0;
}

.meter-block:last-child {
  margin-right: 0;
}

@media (max-width: 500px) {
  main {
    border-radius: 0;
    position: relative;
    top: initial;
    transform: none;
    right: initial;
    left: initial;
    margin: 0;
  }
}

@media (max-width: 450px) {
  .range-nos {
    margin: 5px 0 5px;
  }
}

/***********/
/*SLIDER*/
/**********/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #151618;
  border-radius: 14.9px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 2.7px 2.7px 4.7px rgba(3,14,28,0.4), 0px 0px 2.7px rgba(3,14,28,0.4);*/
  box-shadow: 0 1px 7px rgba(161,95,182,0.6);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #a15fb6
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d9dee6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #151618;
  border-radius: 14.9px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  /*box-shadow: 2.7px 2.7px 4.7px rgba(3,14,28,0.4), 0px 0px 2.7px rgba(3,14,28,0.4);*/
  box-shadow: 0 1px 7px rgba(161,95,182,0.6);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #a15fb6;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bbc2d2;
  border: 0px solid #010101;
  border-radius: 29.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #151618;
  border: 0px solid #010101;
  border-radius: 29.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  /*box-shadow: 2.7px 2.7px 4.7px rgba(3,14,28,0.4), 0px 0px 2.7px rgba(3,14,28,0.4);*/
  box-shadow: 0 1px 7px rgba(161,95,182,0.6);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #a15fb6;
  cursor: pointer;
  height: 21.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #151618;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d9dee6;
}

/**/

input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.4px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #151618;
  border-radius: 14.9px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  /*box-shadow: 2.7px 2.7px 4.7px rgba(3,14,28,0.4), 0px 0px 2.7px rgba(3,14,28,0.4);*/
  box-shadow: 0 1px 7px rgba(161,95,182,0.6);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #a15fb6;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.4px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d9dee6;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
  background: #151618;
  border-radius: 14.9px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  /*box-shadow: 2.7px 2.7px 4.7px rgba(3,14,28,0.4), 0px 0px 2.7px rgba(3,14,28,0.4);*/
  box-shadow: 0 1px 7px rgba(161,95,182,0.6);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #a15fb6;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 21.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bbc2d2;
  border: 0px solid #010101;
  border-radius: 29.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #151618;
  border: 0px solid #010101;
  border-radius: 29.8px;
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0), 0px 0px 0px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  /*box-shadow: 2.7px 2.7px 4.7px rgba(3,14,28,0.4), 0px 0px 2.7px rgba(3,14,28,0.4);*/
  box-shadow: 0 1px 7px rgba(161,95,182,0.6);
  border: 0px solid #000000;
  height: 36px;
  width: 36px;
  border-radius: 50px;
  background: #a15fb6;
  cursor: pointer;
  height: 21.2px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #151618;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d9dee6;
}